<div class="basic-grey">
  <script>
    $.notify("<%= notice %>", "success")
  </script>

<h1>Contatos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Contact.human_attribute_name("name") %></th>
      <th><%= Contact.human_attribute_name("kind") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.kind.description %></td>
        <td><%= link_to 'Editar', edit_contact_path(contact) %></td>
        <td><%= link_to 'Excluir', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div>
  <%= paginate @contacts, window: 2 %>
<div>
<br>
<br>

<%= link_to 'Novo contato', new_contact_path, class:"btn btn-primary" %>
<%= link_to 'Tela inicial', root_path, class:"btn btn-success"%>
</div>